.tour-cards__container {
    display: flex;
    gap: 100px;
    flex-direction: column;
}

.tour-cards__header {
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tour-cards__title {}